<html>
 <head>
   <link rel="stylesheet" href="styles.css">
   <title>Submitted form</title>
   <link rel="stylesheet" type="text/css" href="/static/styles.css">
 </head>
 <body>
   <div id="container">
     <div class="pagetitle">
       <h1>Recommended for you!</h1>
     </div>
     <div id="main">
       <p>You entered: {{name}}</p>
       <p>Here are your recommendations:</p>
       <p>
          <strong>1)</strong> {{rec1}} <br>
          <strong>2)</strong> {{rec2}} <br>
          <strong>3)</strong> {{rec3}} <br>
          <strong>4)</strong> {{rec4}} <br>
          <strong>5)</strong> {{rec5}} <br>
       </p>
     </div>
   </div>
 </body>
</html>